*,
html {
    margin: 0;
    padding: 0;
}

/* sparda html */

    /* navbar start */
    .body {
        /* background-image : linear-gradient(to top,white,hsla(108, 100%, 50%, 0.87) );   */
        /* background-repeat: no-repeat;   */
    }

    .sparda {
        font-family: 'Segoe UI', sans-serif;
        height:  70px;
        color: white;
        box-shadow: 2px 2px 25px black;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sparda > div  {
        font-size: xx-large;
        margin-left: 10%;
        text-decoration: underline 2px blue;
    }

    ul{
        display: flex;
        list-style: none;
        margin-right: 20%;
    }   
    
    ul li {
        margin: 0% 5% ;
    }
    
    ul  li  a{
        text-decoration: none;
        padding: 5px;
        font-size: large;
        text-align: center;
        color: grey;
        text-shadow: 2px 1px 5px white;
        transition: ease-in-out 1s;
    }

    ul > li > a:hover{
        border: 2px solid white;
        font-size: x-large;
        color: white;
        border-radius: 5px;
        box-shadow: 5px 4px 15px white;
        text-shadow: none;
    }
    /* navbar end */
    
    /* header */
    .header {
        background: url(asset/guru.jpg) no-repeat 0%;
        mask-image: radial-gradient(Ellipse, black 30%, rgba(0, 0, 0, 0.5) 80%, transparent);
        background-size: cover;
        text-align: center;
        border: 2px 2px black;
        height: 400PX;
    }
    
    .visi{
        padding-top: 12%;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 6px 5px 5px black;
        font-weight:  bold;
        font-display: auto;
    }
    
    .pro {
        text-align: center;
        font-weight: 900;
        color: black;
        font-size: 20px;
        font-family: cursive,sans-serif;
        text-shadow: 0px 2px 5px white;
    }
    /* header end  */
    
    /* marketing */
    .marketing {
        margin: auto;
        /* height: 50px; */
        width: 50%;
        margin-top: 15px;
        text-align: center;
        border-radius: 5px;
        box-shadow: -4px 4px 5px black;
        background-color: rgba(45, 248, 255, 0.781);
        /* width: 70%; */
        /* border:2px solid black; */
    }
    

    .marketing > button{
        margin:auto;
        margin-top: 10px;
        font-size: 150%;
        width: 70%;
        height: 50px;
        background-color: rgba(255, 255, 17, 0.925);
        border: none;
        border-radius: 10px 10px 10px 10px;
        transition: border 1s ease;
        /* background-color: brown; */
    }

    /* kelebihan */
    #ul {
        text-align: center;
        list-style-type: none;
    }

    #ul > h3 {
        border: 2px solid black;
        border-radius: 10px;
        margin: 2% 0%;
        box-shadow: 3px 2px 5px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
    }


    #ul > h3 > p {
        margin: 0%;
        font-weight: normal;
        font-family: 'Segoe UI', sans-serif;
    }
    /* kelebihan end*/
    
    /* ekskul start */
    #ekskul {
        display: flex;
        justify-content: center;
        padding: 0;
        height: 110px;
        width: 99%;
        margin-top:15px;
        /* border: 2px solid black; */
        /* background-color: bisque; */
        align-content: center;
    }    
    
    #ekskul > ul {
        margin: 0% 2%;
        display: block;
        text-align: left;
        /* border: 2px solid black; */
    }
    
    #ekskul > ul > li {
        width:  190px;
        list-style-type: disc;
        font-size: medium;
     }

    /* ekskul end */

    /* fasilitas start */
    #fasi{
        /* background-color: blue; */
        /* height: 200px; */
        /* width: 100; */
        display: flex;
        align-content: center;
        /* justify-content: center; */
    }
    
    #fasi > ul {
        padding: 30px;
        font-size: small;
        font-weight: normal;
        /* height: 100px; */
        width: 300px;
        display: block;
        list-style: disc outside;
        /* border: 2px solid white;    */
        /* line-height: 50px; */
        /* width: 700px; */
        /* line-height: 20px; */
    }
    
    #fasi > ul >li {
        padding: 2%;
        font-size: medium;
        /* width: 500px; */
        /* margin: 5% 0%; */
        /* margin:0; */
        /* border: 2px solid black; */
    }
    
    #fasi > ul >li > h3 > p{
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    /* fasilitas end */
    
    footer {
    text-align: center;
    padding: 20px;
    background: #4779aa;
    color: white;
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
    padding-left:10%;
    }

    .contac{
        margin-right: 2%;
    }

    .contac > a {
    color: white;
    text-decoration: none;
    margin: 0%;
    
    }

    .image {
        /* background-color: wheat; */
        padding: 0;
        margin-right: 10px;
        height: 20px;
        
    }

    .teks {
        opacity: 0;
        text-align: justify;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 1%;
        width: 75%;
        max-height: 0;
        overflow: hidden;
        font-size: larger;
        transition: max-height 0.5s ease-in-out, padding 0.2s ease-in-out;
    }

    .box {
        animation: fadeIn 0.7s ;
        opacity: 1;
        max-height: 10000px;
    }

    @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); box-shadow: none; }
    to { opacity: 1; transform: translateY(0); box-shadow: 2px 2px 10x black;}
    }
    
    /* marketing */
/* sparda html */
    

/* responsive */
  
@media (max-width: 1000px) {
    .sparda{
        /* background-color: blue; */
    }

    ul > li > a {
        font-size: large;
    }

    .teks{
        font-size: small;
        width: 90%;
        text-align: center;
        /* text-align: justify; */
    }

    .visi {
        font-size: xx-large;
    }

    .pro {
        font-size: xx-large;
    }
    
    .header {
        padding: 7%;
    }

}

@media (max-width: 600px) {
    .sparda > div {
        /* background-color: burlywood; */
        font-size: medium;
        width: 2%;
        /* background-color: aqua; */
    }

    ul{
        float: right;
        display: flex;
        /* list-style: none; */
        /* margin-right: 20%; */
        /* margin-top: 2%; */
        margin-left: 36% ;
    }

    ul > li {
        margin: 10;
        /* background-color: red; */
    }


    ul > li > a {
        font-size: small;
        padding: 2px;
    }

    ul > li > a:hover {
        border: 2px solid white;
        font-size: medium;
        color: white;
        border-radius: 5px;
        box-shadow: 5px 4px 10px white;
        text-shadow: none;
    }

    .section {
        margin-top: 12%;
    }

    .marketing {
        width: 80%;
        /* background-color: black; */
    }

    .marketing > button{
        font-size: X-small;
        width: 50%;
        height: 20px;
        /* background-color: white */
    }

    .teks {
        font-size: x-small;
    }

    .visi {
        font-size: large;
    }

    .pro{
        font-size: x-large;
    }

    .header{
        padding: 0% 0%;

    }

    

    
    #ul > h3 {
        font-size: xx-small;
    
    }


    #ekskul{
        height: 70px;
    }
    #ekskul > ul  {
        /* background-color: aliceblue; */
        /* margin: 0; */
        width: 100%;
        font-size: x-small;
        list-style-position: inside;
    }

    #ekskul > ul >li  {
        /* background-color:beige; */
        font-size: xx-small;
        margin: 0%;
        width: 100%;
    }

    #fasi{
        /* background-color: black; */
        padding: 0;
        width: auto;
        text-align: left;
    }
    
    #fasi > ul  {
        /* background-color: azure; */
        margin-left: 0;
        width:auto;
        margin: 1% 0%;
        padding: 0% 10%;
    }
    
    #fasi > ul > li {
        /* background-color: blue; */
        width: 120%;
    }
    
    #fasi > ul > li > h3 {
        font-size: x-small;
    }



    footer {
        margin-top:35%;
        font-size: x-small;
    }


    .image{
        width: 15px;
        height: 15px;
    }
}
/* responsive */