*,
html {
    padding: 0; 
    margin: 0;
    /* background-color: black; */
}

/* tenanan html */

.body{
    background-image: linear-gradient(to top, white,hsla(108, 100%, 50%, 0.87) );
    background-repeat: no-repeat;
}

.container {
    margin-top: 0%;
    /* margin-bottom: 1%; */
    /* background-color: red; */
}

.footer {    
    /* width: 10%; */
    text-align: center;
    margin-inline: auto;
    color: black;
    font-size:xx-large;
    /* position: absolute; */
    /* background-color: black; */
    /* position: abs.; */
}

#sapa{
    font-size:150%;

}

.button {
    /* margin-top: %; */
    text-align: center;
    padding: 0px;
}

.button > p {
    font-size: 250%;
    letter-spacing: -1px;
    font-family: 'Times New Roman', Times, serif;
}

.button > p > a{    
    color: black;
        text-decoration-line: none ;
        padding: 0PX ;
        margin: 0% 0%;
        transition: ease-in-out 1s;
}

.button > p > a:hover {
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightblue;
}



.logo {
    width: 50%;
    /* position: absolute; */
    /*  margin-top: -27%;  */
    margin-left: 10%; 
    padding: 0%;    
}


.footer > img {
    /* position: absolute; */
    /* background-color: blue; */
    /* background-image: linear-gradient(to bottom, hsla(108, 100%, 50%, 0.87), white ); */
    z-index: -2;
    margin: auto;
    opacity: 0.7;
    display: block;   
    width: 30%;
    transition: ease-in-out 1s;
}

.footer > img:hover {
    filter: drop-shadow(10px 10px 7px lightblue);
    opacity: 2;
    width: 32%;
}

/* tenanan html */

/* responsive */
@media (max-width: 500px ) {
    
    .footer{
        width: 100%;
        font-size: large;
    }

    .footer > img {
        margin-top: 10%;
        width: 100%;
    }
    
    .footer > img:hover{
        filter: drop-shadow(20px 10px 10px lightblue);
        opacity: 2;
        width: 102%;
    }
    
    .container {
        margin-top: 5%;
        height: 150%;
        margin-bottom: 20%;
    }
    
    .button  {
        /* margin-top: 5%; */
        font-size: 80%;
    }


    }
/* responsive */
